main {
  width: 80%;
  margin: auto;
}

.content__img {
  background-image: url("../img/background.png");
  background-size: cover;
  height: 800px;
  width: 100%;
  text-align: center;
  font-size: 9rem;
  color: white;
  padding-top: 17rem;
  line-height: 10rem;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .content__background__title {
    padding: 0 1rem;
  }
}
