<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ê²°ê³¼ í™”ë©´</title>
  </head>
  <body>
    <h1>ì•ˆë…•í•˜ì„¸ìš”. <%= name %>ìž…ë‹ˆë‹¤!</h1>
    <% let emoji = ''; if (age >= 40) { emoji = 'ðŸ˜Œ'; } else if (age >= 30) {
    emoji = 'ðŸ˜'; } else if (age >= 20) { emoji = 'ðŸ˜Ž'; } else if (age >= 10) {
    emoji = 'ðŸ¤©'; } else { emoji = 'ðŸ« '; } %>
    <h1>ì €ëŠ” <%= age %>ì‚´ ìž…ë‹ˆë‹¤! <%= emoji %></h1>
  </body>
</html>
