.pr01Container {
  display: flex;
  // min-width: 1600px;
}
$green: #4caf50;
$blue: #1e88e5;
$navy: #303f9f;
$purple: #7b1fa2;
$width: 50px;
$colorList: red, orange, yellow, $green, $blue, $navy, $purple;

@mixin setContainer($num) {
  width: $width * $num;
  height: $width * $num;
}

@for $i from 1 through 7 {
  .pr01Container > div:nth-child(#{$i}) {
    @include setContainer($i);
    background-color: nth($colorList, $i);
  }
}
