ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pr01Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menus {
  display: flex;
  gap: 5px;
}

.menu {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
}
