ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pr02Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bankMenus {
  display: flex;
  gap: 20px;
}

.bankMenu {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
