.itemBox {
  display: flex;
  justify-content: space-between;
  background-color: #835ffe;
  padding: 1rem 0.5rem;
}

.itemBox:nth-child(2n) {
  background-color: #845ffe4f;
}
.itemBox:nth-child(2n + 1) {
  background-color: #6286fe54;
}

.checkBox {
  display: flex;
  gap: 10px;
}

.delBtn {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.input:checked + .label {
  color: grey;
  text-decoration: line-through;
}
